*{

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.container{


  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  padding: 20px;

}

.container > *{

  margin: auto;
}

.wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}



div.left-part {

  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: rgba(6, 0, 5, 0.58);
}

 div.right-part{

  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: rgba(6, 0, 5, 0.58)
}

div.middle-part{


width: 80%;
display: flex;
flex-direction: column;
}

.picture-container{

  width: 100%;
  height: 85%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.picture-container  > img{

  max-width: 90%;
  max-height: 70%;
  background: white;
  border-radius: 20px;
  display: none;
}

.picture-container >  img.active{

  display: block;
}

.direct-link-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
  font-size: 40px;
  color: rgba(6, 0, 5, 0.58);
}

.direct-link-wrapper > i{

cursor: pointer; 
}
